/* CSS Document */

html
{
  height: 100%;
}

body
{
  background: #e5ebdf url(images/wrapper_bg.gif) top left repeat-y;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Myraid Pro", "Trebuchet", "Trebuchet MS", Verdana, Arial, sans-serif;
}
.wrapper
{
  background: url(images/bg.gif) top left repeat-x;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}
.container
{
  width: 980px;
  margin: 0;
  padding: 0;
}
.logo
{
  width: 206px;
  height: 164px;
  margin: 0 15px 0 38px !important;
  margin: 0 15px 0 19px;
  padding: 0 ;
  background: #b2c979;
  float: left;
  text-align: center;
  vertical-align: middle;
  border: #FFF solid;
  border-width: 0 2px 2px;
}

.logo img
{
  margin: 27px 0 0;
}
#title, #title a
{
  margin: 0;
  padding: 5px 0 0;
  color: #e5ebdf;
  color: #FFF;

}
#title h1
{
  font-size: 1.7em;
  margin: 0;
  padding: 0;
  font-weight: normal;
    position: absolute;
  top: 35px;
  left: 260px;

}
#title h2
{
  font-size: 1.3em;
  line-height: .8em;
  margin: 0;
  padding: 0;
  font-weight: normal;
      position: absolute;
  top: 78px;
  left: 260px;

}

#navigation
{
  position: absolute;
  top: 122px;
  left: 260px;
  width: 700px;
}

#navigation ul
{
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  borer: none;
}

#navigation ul li
{
  float: left;
  margin: 0 8px 0 0;
  padding: 0;
  width: 119px;
  height: 34px;
  vertical-align:middle;
  text-align: center;
}

#navigation ul li a
{
  display: block;
  width: 119px;
  height: 34px;
  margin: 0;
  padding: 10px 0 0;
  text-align: center;
  background: url(images/tab_normal.gif) top left no-repeat;  
  color: #7c8c9b;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

#navigation ul li a:hover
{
  color: #93a6b7;
  color: #EEE;
  background: url(images/tab_over.gif) top left no-repeat;  
}

#navigation ul li a.active, #navigation ul li a.active:hover
{
  background: url(images/tab_selected.gif) top left no-repeat;  
  color: #343434;
}

#navigation ul li a.active:hover
{
  color: #000;
}
#secondary_nav
{
  position: absolute;
  top: 5px;
  left: 260px;
  width: 700px;
	
}

#secondary_nav ul
{
  list-style: none;
  list-style-image: none;

}

#secondary_nav ul li
{
  float: right;
  margin: 0 17px 0 0;
  padding: 0 17px 0 0;
    width: 80px;
  font-size: 0.8em;

  height: 24px;
  vertical-align:middle;
  text-align: center;
    border-right: 1px solid white;

}

#secondary_nav ul li a
{
  display: block;
    width: 80px;

  height: 24px;
  margin: 0;
  padding: 7px 0 0;
  text-align: center;
  color: #7c8c9b;
  text-decoration: none;
  font-weight: bold;
}

#secondary_nav ul li a:hover
{
  color: #93a6b7;
  color: #EEE;
}

#secondary_nav ul li a.active, #secondary_nav ul li a.acive:hover
{  text-decoration: underline;

  color: #eee;
}

#secondary_nav ul li a.active:hover
{
  color: #000;
}
#search input.form-text {
  font-size: 1em;
}
#search .form-text, #search .form-submit {
  font-size: 1em;

}
#search input.form-submit {
  text-align: center;
  font-size: 1em;
  font-weight:bold;

}
#searchbar
{
      position: absolute;
  top: 80px;
  right: 20px;

}



#body
{
  float: left;
  margin-bottom: 220px;
}

#body .sidebar
{
  margin: 10px 0 0 50px !important;
  margin: 10px 0 0 25px;
  width: 170px;
  float: left;
  font-size: .9em;
  color: #465052;
}

#body .sidebar h3
{
  color: #465052;
}

#body .sidebar .content
{
  margin: 3px 0 3px 10px !important;
  padding: 0;
  width: auto;
  float: none;
  color: #465052;
}

#body form input, #body form textarea, #body .sidebar select
{
  border: 1px solid #465052;
  background: #e0edf7;
  color: #465052;

}


#body .sidebar ul.links
{
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  list-style-image: none;
}

#body .sidebar ul.links li
{
  padding: 0;
  border-bottom: #7c8c9b solid 1px;
  height: 1.7em;
}

#body .sidebar ul.links li a
{
  padding: 2px 6px;
  display: block;
  color: #465052;
  text-decoration: none;
}

#body .sidebar ul.links li a:hover
{
  background: #e0edf7;
}
 
#body .content
{
  float: left;
  width: 510px;
  margin: 10px 0 0 30px;
  padding: 0;
  color: #59452a;
}

.submitted
{
  font-variant:small-caps;
  font-size: .9em;
  font-weight: normal;
  font-style:italic;
}
.taxonomy
{
  font-size: .9em;
  font-weight: normal;
  font-style:bold;
}
#body .content p
{
  margin: 0;
  padding: 0 0 1em;
}

.nodelinks
{
  text-align: right;
  font-variant:small-caps;
  font-size: .9em;
  font-weight: bold;
  font-style:italic;
}

.nodelinks a
{
  text-decoration: none;
  color: #59452a;
}


.comment {
  padding: .5em;
  margin-bottom: 1em;
  background: url(images/comment_corner.gif) top left no-repeat;

}
.comment .title {
  font-size: 1em;
  padding: 10px 0 12px 19px;
  background: transparent url(images/comment.png) left center no-repeat;
}
.comment .new {
  font-weight: bold;
  font-size: 1em;
  margin-left: 2px;
  color: red;
}
.comment .picture {
  border: 1px solid #fff;
  float: right;
  margin: 10px;
}

#body .content .area100
{
  clear: both;
  width: 98%;
  margin: 0;
  padding: 4px;
}

h3
{
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #59452a;
  clear: both;
}

h4, h5, h6
{
  margin: 0;
  padding: 0;
  clear: both;
}

h4 a, h5 a, h6 a
{
  text-decoration: none;
}

h4
{
  font-style: italic;
}

#body a
{
  color: #59452a;
}

#body h3 a
{
  text-decoration: none;
}


#footer
{
  clear: both;
  position: absolute;
  bottom: 0 !important;
  bottom: -1px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background:#885522;
  color: #FFFFCC;
  font-size: 0.9em;

}
#footer a
{  
font-size: 0.9em;

color: #FFFFCC;
text-decoration:underline;
}

.clear
{
  clear: both;
}

#copyright
{
  background: #372b1a;
  color: #DDA;
  border-top: 1px solid;
  height: 1.7em;    


}

#copyright a
{
    color: #553;

}

#copyright .container
{
font-size: 0.78em;
  text-align: left;
  float: left;
    color: #553;

}








/*  Calendar  */

#calendar a {
	color: #DF9496;
}

#calendar {
	width: 100%;
	padding: 0;
	margin: 0;
	border-left: 1px solid #A2ADBC;
	font: normal 12px/20px;
	color: #616B76;
	text-align: center;
	background-color: #fff;
}

#calendar .nav, #calendar .nav a {
	font: bold 18px;
	color: #fff;	
	text-align: center;
	text-decoration: none;
}	


#calendar caption {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #A2ADBC;
	color: #fff;	 
	font: bold 12px;
	text-align: center;
}

#calendar th {
	font: bold 11px/20px;
	color: #616B76;
	background: #D9E2E1;
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	border-top: 1px solid #A2ADBC;
}

#calendar .today, #calendar td.today a, #calendar td.today a:link, #calendar td.today a:visited {
	color: #F6F4DA;
	font-weight: bold;
	background: #DF9496;
}

#calendar td {
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	width: 20px;
	height: 20px;
	text-align: center;
}

#calendar td a {
	text-decoration: none;
	font-weight: bold;
	display: block;
}

#calendar td a:link, #calendar td a:visited {	
	color: #608194;
}

#calendar td a:hover, #calendar td a:active {
	color: #6aa3ae;
}
 tr.even td {
   margin: 0.3em;

	background: #fefefe;

}
tr.odd td{
  margin: 0.3em;
	background: #f8ffdf;

}
#mission {
  background: #f8f8f8 url(images/bg-block.gif) repeat-x left top;
  border: 1px solid #eeeded;
  padding: 1.13em 0.56em 0.75em;
  margin-bottom: 1.0em;
  font-size: 1em;

}
.taxonomy li.first {
  background: url(images/tag_red.png) no-repeat 0 2px;
  padding-left: 15px !important;
}
.form-item {
  margin-top: 1em;
}
.form-item label {
  color: #369;
}
.item-list .title {
  color: #369;
  font-size: 0.85em;
}
.breadcrumb {
  margin-bottom: .5em;
  	  border: 1px dotted #aaa9a9;

}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}


/*  General Elements  */
.hide {
  display: none
}
.error {
  border-color: red;
    border: 2px solid #E1471D;
  background: #FCD295 url(images/icon-alert.png) no-repeat;
    padding-left: 42px;

}
pre
{
  display: block;
  font-family: monospace;
  overflow:visible;
  border-width: 1px 0;
  border-style: dashed;
  padding: 3px;
}

code
{
  color: #F60;
  border-width: 0 1px;
  border-style: dashed;
  display: block;
  padding: 3px;
}

blockquote
{
  background: #ecf2e6 url(images/quote.gif) top left no-repeat;
  margin: 5px 20px;
  padding: 5px 5px 5px 43px;
  border: 1px solid #d3d9ce;
}

ol li ol
{
  list-style: lower-roman;
}

ol li ol li ol
{
  list-style: lower-alpha;
}

ul
{
  list-style-image: url(images/arrow.gif);
  padding-left: 30px;
}
li.comment_comments a {
  padding-left: 20px;
  padding-bottom:5px;
  background:url(images/comment.png)  no-repeat 0 2px;
}
li.comment_add a {
  background: url(images/comment_add.png) no-repeat 0 1px;
  padding-left: 18px;
}

li.node_read_more a {
  background: url(images/readmore.png) no-repeat 0 2px;
  padding-left: 18px;
}

li.upload_attachments a {
  background: url(images/mini-attachment.png) no-repeat 0 2px;
  padding-left: 15px;
}

li.comment_delete a {
  background: url(images/comment_delete.png) no-repeat 0 0;
  padding-left: 15px;
}

li.comment_edit a {
  background: url(images/comment_edit.png) no-repeat 0 0;
  padding-left: 18px;
}

li.comment_reply a {
  background: url(images/comment_add.png) no-repeat 0 0;
  padding-left: 18px;
}
#block-user-2 ul li, #block-user-3 ul li {
  list-style-type:none;
  list-style-image: none;
  margin-left: -5px;
  padding-left: 18px;
  background-image: url(images/mini-user-light-blue.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.status {
  background: url(images/icon-info.png) no-repeat;
    padding-left: 72px;

}


/*
** Module specific styles
*/
.content .active {
  color: #369;
}
#aggregator .feed-source {
  background-color: #e5ebdf;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0 1em 0;
}
#aggregator .news-item .source {
  color: #999;
  font-style: italic;
  font-size: 0.85em;
}
#aggregator .title {
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#tracker th {
  text-align: center;
  background-color: #e5ebdf;
  border-bottom: 1px solid #465052;
  border-right: 1px solid #465052;
  border-left: 1px solid #465052;
}
#tracker th img {
  float: right;
}
#tracker tr.even, #tracker tr.odd {
  background-color: #fff;
}
#tracker td {
  vertical-align: top;
  padding: 1em 1em 1em 0;
  border-bottom: 1px solid #bbb;
}
#forum {
  background-color: #e5ebdf;
}
#forum table {
  width: auto;
  border: 2px solid #465052;
}
#forum table tr th {
  text-align: center;
  background: #465052;
  color: #fff;
  font-size: 0.75em;
  border-bottom: 1px solid #aaa;
}
#forum table tr th a  {
  width:auto;
  color: #fff;
  text-decoration: underline;
}
#forum table tr th img  {
  margin: 0;
}
#forum td {
  padding: 0.5em;
}
#forum td.container {
  color: #000;
  border: 2px solid #465052;
    background: #b2c979;

}
#forum td.container a {
  padding: 20px 0 20px 35px;
}
#forum td.container a:visited {
  color: #888;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
